.n21-advantage {
	filter: sepia(1) hue-rotate(40deg) saturate(1.6) contrast(1.2) drop-shadow(0 0 4px green);
}

.n21-disadvantage {
	filter: sepia(1) hue-rotate(300deg) saturate(1.6) contrast(1.2) drop-shadow(0 0 4px red);
}
