.n21-advantage {
	filter: sepia(1) hue-rotate(40deg) saturate(1.6) contrast(1.2) drop-shadow(0 0 4px green);
}

.n21-disadvantage {
	filter: sepia(1) hue-rotate(300deg) saturate(1.6) contrast(1.2) drop-shadow(0 0 4px red);
}

.n21-send-to-chat {
	filter: sepia(1) hue-rotate(180deg) saturate(1.6) contrast(1.2) drop-shadow(0 0 4px #4a90e2);
}

.n21-hotkey-label {
	display: block;
	font-size: 10px;
	opacity: 0.8;
}


.n21-d-flex {
	display: flex;
}

.n21-action-bar {
	display: flex;
	flex-direction: column-reverse;
}

.n21-ambient-fx-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	pointer-events: none;
	background-color: transparent;
	opacity: 1;
	mix-blend-mode: multiply;

	transition: none 200ms ease;
	transition-property: background-color, mix-blend-mode, opacity;
}

@keyframes n21-shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-4px); }
	20%, 40%, 60%, 80% { transform: translateX(4px); }
}

.n21-shake {
	animation: n21-shake 0.5s;
	border-color: #dc3545 !important;
}